<div class="contact-list-item-container row col-12 px-0 mx-0 my-2">
  <div class="col-12 sub-list-header" *ngIf="subListHeader && showSubHeader" [id]="'sub-header-' + subListHeader">{{subListHeader}}</div>
  <div class="col-auto contact-image-container">
    <img [src]="contactData.image ? contactData.image :  '../../../../../../assets/images/contact.png' " alt="" class="rounded-circle contact-image">
  </div>
  <div class="flex-grow-1 align-self-center">
    <div class="col-12 contact-name">{{contactData.firstName}} {{contactData.lastName}}</div>
    <div class="col-12 contact-detail">{{contactData.phoneNumber}}</div>
  </div>
</div>
