.login-form-container{
  box-shadow: 0px 0px 7px 1px gainsboro;
  // border: 1px solid black;
  border-radius: 10px;
  padding: 10px;

  .header{
    text-align: center;
    font-size: 25px;
  }

  .login-btn{
      background: cornflowerblue;
      color: white;
      &:disabled{
        cursor: not-allowed;
      }
  }

  .form-field {
    margin: 5px 0;
  }

  .error-hint {
    color: red;
  }
}
